.container-items{
  width: 90%;
  margin: 0 auto;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
}

.card-custom{
  background-color: white;
  position: relative;
  border-radius: 4px;
  margin:10px;
  border: 1px solid #e8eaec;
}

.card-custom-image{
  position: relative;
}

.card-custom-title{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 15px 15px 10px 15px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px black;
}

.card-custom-image img{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-custom-content{
  padding: 15px;
  font-size: 0.9rem;
  border-radius: 0 0 2px 2px;
  line-height: 1.3rem;
}

.card-custom-link{
  border-top: 1px solid #e8eaec;
  padding: 15px;
}

/* Esto va en el Style ppal*/

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}
